* {
    box-sizing: border-box
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #757575;
}

h1 {
    font-family: "MuseoModerno", sans-serif;
    background: linear-gradient(90deg, #ff36b1,#6c0fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 48px;
    line-height: 1;
    margin: 0px;
}

.icon {
    width: 30px;
    height: 30px;
}

.site {
    font-family: "MuseoModerno", sans-serif;
    background: linear-gradient(90deg, #ff36b1,#6c0fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 25px;
}

.ilustracao {
    width: 100%;
    height: auto;
    max-height: 900px;
    object-fit: contain;
}

.wrap {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff;
}


.esquerda {
    padding: 56px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 28px;
    align-items: flex-start;
    background: #fff;
}


.logo {
    display: flex;
    align-items: center;
    gap: 14px;
    color: var(--azul-600);
    font-weight: 700;
    font-size: 20px;
}

.logo .icon {
    width: 28px;
    height: 28px;
    background: var(--azul-600);
    border-radius: 6px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}


