body {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #757575;
    background-image: url(../../assets/images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

h1 {
    font-family: "MuseoModerno", sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(90deg, #ff36b1 25%,#6c0fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
}

p.desc {
    text-align: center;
    color: #626262;
    font-size: 20px;
    margin: 9px;
}

.titulo {
    display: flex;
    justify-content: center;
}

.confere {
    width: 45px;
    height: 45px;
    padding: 28px 10px;
}

.enfeite {
    width: 45px;
    height: 45px;
    padding: 47px 10px;
}

.detalhes {
    display: flex;
}

/*  sections */

.section-label {
    display: inline-flex;
    align-items: center;
    border-radius: 40px;
    padding: 10px 35px;
    font-family: "MuseoModerno", sans-serif;
    font-size: 25px;
    font-weight: 600;
    background: linear-gradient(#fff, #fff) padding-box,
                linear-gradient(90deg, #ff36b1,#6c0fff) border-box;
    border: 3px solid transparent;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #ff36b1;
}

/* inputs e selects */

.section {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.form-campo {
    flex: 1;
    min-width: 260px;
}

.form-campo label {
    display: block;
    color: #888;
    margin-bottom: 5px;
}

.form-campo input, .form-campo select {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #bfbfbf;
    outline: none;
    font-size: 17px;
    background: none;
}

.btn {
    border-radius: 40px;
    padding: 12px 34px;
    font-family: "MuseoModerno", sans-serif;
    font-size: 25px;
    cursor: pointer;
    background: linear-gradient(#fff, #fff) padding-box,
                linear-gradient(90deg, #ff36b1,#6c0fff) border-box;
    border: 3px solid transparent;
    font-weight: 600;

    /* Texto degradê */
    background-clip: text, border-box;
    -webkit-background-clip: text, border-box;
    -webkit-text-fill-color: transparent;

    transition: 0.25s ease;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-start; 
    margin-top: 20px;
}

#parte2 { display: none; }